// Compiled and minified CSS
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
// Compiled and minified JavaScript
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
link(rel='stylesheet' type='text/css' href='/static/assets/estilo404.css')
link(rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.png')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
link(rel='stylesheet' type='text/css' href='/static/assets/style.css')
link(rel='stylesheet' type='text/css' href='/static/assets/page-404.css')

title 404
.row
  .col.s12
    .container
      .section.section-404.p-0.m-0.height-100vh
        .row
          // 404
          .col.s12.center-align.white
            img.bg-image-404(src='/static/images/error-2.png' alt='')
            h1.error-code.m-0 404
            h6.mb-2 SITIO NO ENCONTRADO
            a.btn.waves-effect.waves-light.gradient-45deg-deep-purple-blue.gradient-shadow.mb-4(href='/') Volver
